.wd-cursor-pointer {
    cursor: pointer;
}
.navbar-custom {
    background-color: #01060a;
    font-style: italic;
  }
  
  .brand {
    font-size: 24px;
    color: #10d33a;
    font-weight: bold;
  }
  
  .brand:hover {
    color: #f1c40f;
  }
  
  .nav-link-custom {
    color: #10d33a;
    font-weight: bold;
    margin-right: 15px;
  }
  
  .nav-link-custom:hover {
    color: #10d33a;
  }
  .eventListContainer {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .createButton {
    background-color: #5550bd;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .sectionTitle {
    margin-bottom: 16px;
    color: #5550bd;
  }
  
  .eventList {
    list-style-type: none;
    padding: 0;
  }
  
  .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .list-group-item:hover,
  .list-group-item.active {
    background-color: #f5f5f5;
  }
  
  .eventTitle {
    color: #5550bd;
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .eventDetails {
    display: flex;
    align-items: center;
    color: #777;
  }
  
  .hostName {
    margin-right: 8px;
  }
  
  .dotSeparator {
    margin: 0 6px;
  }
  
  .eventDate {
    font-style: italic;
  }
  